<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addressname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressname" class="form-control" name="row[addressname]" type="text" value="{$row.addressname|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Addressmobile')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressmobile" class="form-control" name="row[addressmobile]" type="text" value="{$row.addressmobile|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('客户电话')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressphone" class="form-control" name="row[addressphone]" type="text" value="{$row.addressphone|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
